@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    --main-hue: 208;
    --main-color: #009070;
    --main-color-hover: #008064;
    --text-color: #000;
    --text-light-color: #9ca7b6;
    --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
    --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
    --input-text: #8c9aaf;


}

a {
    text-decoration: none;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
}

header .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    height: 50px;
    display: flex;
    align-items: flex-end;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}


.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.main .container {
    height: 100vh;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.main .container>div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.left {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}

.main-heading h1 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 3rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
    ;
}

.main-heading h1 span {
    color: var(--main-color);
}

.text {
    color: var(--text-light-color);
    line-height: 1.1;
    font-size: 1rem;
}

.form-wrapper {
    max-width: 32rem;
}

.main-form {
    display: grid;
    margin-top: 1.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap {
    position: relative;
}

.input-wrap.w-100 {
    grid-column: span 2;
}

.main-input {
    width: 100%;
    background-color: var(--input-bg);
    padding: 1.5rem 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 50%, 0.169);
    transition: 0.3s;
}

.main-input:hover {
    background-color: var(--input-bg-hover);
}

.input-wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--text-light-color);
    pointer-events: none;
    transition: .25s;
}

.input-wrap .icon {
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transition: 0.3s;
}

.input-wrap.focus .main-input {
    background-color: #fff;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 0 5px var(var(--main-color));
}

.input-wrap.focus label {
    color: var(--main-color);
}

.input-wrap.focus .icon {
    color: var(--main-color);
}

.input-wrap.not-empty label {
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);

}

.main-button {
    display: grid;

    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.btn {
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 40px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--main-color-hover);
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

ul {
    margin-top: 20px;
    display: contents;
    text-align: right;
    text-decoration: none;
    color: #111111;
    font-size: 0.9rem;
}

ul a {
    margin-top: 30px;
    display: contents;
    color: #999;
    font-size: 0.9rem;
}

a:hover {
    color: #009070;
}

/* right side */

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
}

.image-wrapper {
    position: relative;
    grid-column: 2;

}

.image-wrapper img {
    position: absolute;
    height: 100%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}